body{
    padding: 100px;
}

/*Customizing submit area */
.submit-area{
    margin-top: 50px;
    border: 10px;
    box-shadow: 6px 7px 10px grey;
    padding: 50px;
    border-radius: 10px;
}

/*By default transaction area will be hidden, will be visible only when clicked*/
#transaction-area{
    display: none;
    /*Hidden the transaction area by default*/ 
}

/*Customizing upper boxes like deposit, withdraw and balance*/

.status{
    margin: 0 20px;
    color: white; /*Will make all the texts inside white*/
    padding: 20px;
    border-radius: 10px;
}

/*Giving color of the boxes*/ 

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}